{% load crispy_forms_tags %}
<div class="modal-header  bg-dark text-white">
    <h5 class="modal-title ml-auto">登录</h5>
    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="POST" action="{% url 'login' %}" id="formlogin">
{% csrf_token %}
<div class="modal-body">
    {{ form|crispy }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
    <button type="submit" class="btn btn-success">登录</button>
</div>
</form>